@page
@model SkinEmpireReforged.Pages.FAQModel

<!--Credits:
    FAQ page skrevet af Gülsüm Erdogan
-->
<body>

    
<!--Koder vores FAQ page ind via små overskrifter og svar-->
    <div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary">Ofte stillede spørgsmål</h2>
        </div>
    </div>
    <div>

<br />

        <h4>Hvordan køber jeg et skin på jeres markedsplads?</h4>
        <p>Du kan købe et skin ved at navigere til den ønskede skin-side, vælge den ønskede variant og følge betalingsinstruktionerne.</p>
    </div>


    <div>
        <h4>Er det sikkert at handle skins på jeres hjemmeside?</h4>
        <p>Ja, vores markedsplads sikrer sikre transaktioner. Vi bruger sikre betalingsmetoder, og alle handler er beskyttet mod bedrageri.</p>
    </div>

   
    <div>
        <h4>Hvordan kan jeg sælge mine egne skins på jeres platform?</h4>
        <p> SkinEmpire er en officiel side for skins, og derfor er det kun Valve selv der sætter skins til salg. </p>
    </div>

 
    <div>
        <h4>Hvordan beskytter I mine personlige oplysninger?</h4>
        <p>Vi tager beskyttelse af dine personlige oplysninger alvorligt. Vores hjemmeside anvender sikre forbindelser og følger strenge retningslinjer for databeskyttelse. Se vores fortrolighedspolitik for mere information.</p>
    </div>


</body>
</html>