@page
@model PrivacyModel
@{

/*Credits: 
* Paragraf kodet af Gülsüm Erdogan */
         
    ViewData["Title"] = "Privatlivspolitik";
}
<h1>@ViewData["Title"]</h1>

<p>Denne hjemmeside er lavet af Nuriye og Gülsüm Erdogan for et eksamensprojekt i 2. semester.</p>
